<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('../partials/meta.ejs')%>
        <link rel="stylesheet" href="./css/about.css">
    </head>
    <body class="body">
        <%-include('../partials/header.ejs')%>
        <main class="main">
            
            <p>
                Esta API está dirigida a facilitar el trabajo de los así llamados “Masters” en el juego de rol <span>“Shadow of the Demon Lord”</span> esrito por <em>Robert J. Schwalb</em>. <br>
                Un juego de rol (<span>RPG</span> o <span>“Roleplaying game”</span>) es un juego de mesa en donde cada jugador asume el rol de un personaje en una historia ficticia y lo interpreta a su gusto y parecer. A medida que los personajes jugadores (<span>PC</span> o <span>“Player Character”</span>) interactúan con los elementos de este mundo ficticio, entre ellos y con los personajes no jugadores (<span>NPC</span> o <span>“Non Player Character”</span>). Sin embargo, para poder jugar uno de los jugadores deberá no interpretar uno de estos personajes y en vez de eso asumir un rol especial: El comúnmente llamado <span>GM</span> o <span>“Game Master”</span>. Es quien narra la historia, interpreta a los NPC y se encarga de tomar todas las demás decisiones que están fuera del alcance de los jugadores. <br>
                Cuando dentro de la historia narrada se desencadena algún evento que pudiese afectar positiva o negativamente a un <span>PC</span>, el desenlace se define generalmente por tiradas de dados. Existen muchos sistemas de reglas que determinan las tiradas de dados, cada uno con diferentes temáticas, y una vez elegido el sistema es responsabilidad del <span>GM</span> aprenderse las reglas del juego y actuar como árbitro y coordinador en el juego. <br>
                Lo último que se necesita para jugar son unas hojas conocidas como “fichas de personaje” (o <span>“Character Sheet”</span>) en donde cada <span>PC</span> anotará todos los detalles sobre su personaje: Su nombre, apariencia, posesiones personales, personalidad y habilidades. <br>
                El resto queda en la imaginación de quienes juegan. El punto de jugar rol es pasar un buen rato en compañía y de tener la posibilidad de ser el protagonista de una historia épica, aunque sea tan solo dentro de la imaginación. <br>
                No obstante está claro que la mayor cantidad de trabajo está dirigido hacia el <span>GM</span>. Es por ello que se me ocurrió tomar mi sistema de juego de rol favorito y crear una página que sirva de ayuda los GM. <br>
                Shadow of the Demon Lord es un juego de fantasía medieval oscura que trata sobre la llegada próxima del <span>“Demon Lord”</span> (<span>DL</span>) a la tierra de Urth, lo que desatará el apocalipsis. Los jugadores deberán tratar de detener al DL mientras luchan por mantener la cordura y preservar sus almas de la corrupción que ofrecen los horrores que infestan la tierra. <br>
                En principio esta página es una biblioteca de fichas de <span>NPC</span>. Aquí el <span>GM</span> podrá hacer una búsqueda fácil y rápida de distintos tipos estereotipados de <span>NPC</span>. Para así poder tener a mano sus estadísticas en caso de que los <span>PC</span> decidan interactuar con ellos y sea necesario hacer una tirada. <br>
                Este es el diseño de página en el cual me inspiré para est página:<a href="https://schwalbentertainment.com/">https://schwalbentertainment.com/</a>
            </p>
            <img src="./img/book.jpg" alt="book" style="max-width: 480px;">

        </main>
        <%-include('../partials/footer.ejs')%>
    </body>
</html>