<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('../partials/meta.ejs')%>
    </head>

    <body class="body">
        <%-include('../partials/header.ejs')%>

        <main class="main">            
            <%-include('../partials/card.ejs')%>
        </main>

        <%-include('../partials/footer.ejs')%>
    </body>
</html>