.main{
    background-image: url(../img/cover/about.jpg);
    flex-wrap:nowrap;
}
.main img {
    opacity:0.65;
    filter:alpha(opacity=65);
   }
.main p{
    color: #fff;
    letter-spacing: 2px;
    line-height: 20px;
    margin: 4px;
    text-indent: 1rem;
    text-shadow: #000 1px 1px 1px;
    word-spacing: 4px;
}
@media screen and (max-width: 1185px){
    .main img {
        display: none;
       }
}
@media screen and (max-width: 960px){
    .main p{
        font-size: 12px;
    }
}
@media screen and (max-width: 572px){
    .main p{
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 16px;
        word-spacing: 2px;
    }
}