@media screen and (max-width: 1188px){
    .section{
        display: block;
        height: 15vh;
    }
        .section h1{
            text-align: center;
        }
        .section ul{
            justify-content: center;
        }
    .main{
        display: flex;
    }
        .main .npc-card{
            max-width: 820px;
        }
}
@media screen and (max-width: 840px){
    .main .npc-card{
        max-width: 96%;
    }
}
@media screen and (max-width: 666px){
    .footer {
        height: 5vh;
    }
    .footer *{
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 620px){
    .nav{
        height: 6vh;
    }
        .nav a{
            font-size: 0.8em;
        }
    .section{
        height: 10vh;
    }
        .section h1{
            font-size: 3rem;
        }
        .nav ul,
        .section ul{
            margin: 0;
            gap: 0.5rem;
        }
        .section a{
            font-size: 0.6em;
        }
    .main .npc-card img{
        display: none;
    }
}
@media screen and (max-width:525px) {
    .footer {
        justify-content: space-around;
    }
        .footer .contact a span.a-text {
            display: none;
        }
}
@media screen and (max-width: 410px){
    .main .npc-card *{
        font-size: 0.9em;
    }
        .main .npc-card .stadistics .name-box h3{
            font-size: 1.35em;
        }
        .main .npc-card .stadistics h4,
        .main .npc-card .stadistics h5{
            font-size: 1.1em;
        }
    .footer .contact a.contact-btm span img {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 69%;
        max-width: 69%;
    }
}
@media screen and (max-width: 400px){
    .nav h1{
        display: block;
    }
    .section{
        height: 5vh;
    }
        .section h1{
            display: none;
        }
        .section ul{
            margin: 0;
            gap: 0.1rem;
        }
}
