<footer class="footer">
    <h6>
        &#169; Copyright - Rafael Andres Alesso Herrera - Front end
    </h6>
    <div class="contact">
        <a href="https://mail.google.com/mail/u/rafalesso1991@gmail.com" class="contact-btm">
            <span><img src="./img/icon/gmail.png" alt="gmail-icon"></span><span class="a-text">Email</span>
        </a>        
        <a href="https://github.com/rafalesso1991/app.git" class="contact-btm">
            <span><img src="./img/icon/github.png" alt="github-icon"></span><span class="a-text">GitHub</span>
        </a>
        <a href="https://www.linkedin.com/in/rafael-alesso-herrera-9500611b6" class="contact-btm">
            <span><img src="./img/icon/linkedin.png" alt="linkedin-icon"></span> <span class="a-text">Linkedin</span>
        </a>
    </div>
</footer>