<header class="header">
    <nav class="nav">
        <img class="logo" src="./img/icon/logo.png" alt="logo">
        <h1>DENIZENS OF URTH</h1>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
        </ul>
    </nav>
    <section class="section">
        <h1>DENIZENS OF URTH</h1>
        <ul>
            <li><a href="/common">COMMON</a></li>
            <li><a href="/criminal">CRIMINAL</a></li>
            <li><a href="/military">MILITARY</a></li>
            <li><a href="/religious">RELIGIOUS</a></li>
            <li><a href="/scholar">SCHOLAR</a></li>
            <li><a href="/wilderness">WILDERNESS</a></li>
        </ul>
    </section>
</header>